

AnchorPane{
    -fx-background-image: url(background.JPG)
}
.body
{
    -fx-background-image: url(background.JPG)
  /*  -fx-font-family: 'Poppins', sans-serif;*/
}
.horse
{
    -fx-background-image: url(horse.png)
}
.whiteTile
{
    -fx-background-color: #f7f7f7
}
.whiteTile:hover
{
    -fx-border-color: #e81e64
}


.greenTile
{
    -fx-background-color: #5ccec3
}
.greenTile:hover
{
    -fx-border-color: #e81e64
}
.button
{
    -fx-background-color: #424242
}
.button:hover
{
    -fx-background-color: #616161

}
.button:pressed
{
    -fx-background-color: #363636
}

.vbox
{
    -fx-background-color: #424242
}
<<<<<<<< HEAD:src/main/resources/com/knights_move/view/design.scss

========
>>>>>>>> noa:src/main/resources/com/knights_move/view/design.css
#buttonVbox
{
    -fx-background-color: #424242
}
.grid
{
    -fx-background-color: #F4F7FA;
}